@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

body {
  background: #002244;

  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  height: 100%;
}

.wrapper {
  width: 800px;
  margin: 150px auto;
  color: white;
  text-align: center;
}

h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
  margin-top: 0px;
  font-weight: 100;
  font-size: 30px;
  text-transform: uppercase;
}

#seconds,
#minutes,
#hours {
  font-size: 2em;
  margin-left: 0px;
}
#minutes,
#hours {
  margin-right: 5px;
}
#dots {
  font-weight: 600;
  font-size: 28px;
  position: relative;
  left: -2px;
  top: -4px;
}
#dots2 {
  font-weight: 600;
  font-size: 28px;
  position: relative;
  left: -2px;
  top: -4px;
}
button {
  color: #002244;
  text-transform: uppercase;
  border: solid 0px white;
  text-decoration: none;
  cursor: pointer;
  font-size: 23px;
  font-weight: 700;
  padding: 18px 10px;
  width: 180px;
  margin: 10px;
  outline: none;
  border-radius: 10px;
  transition: 0.4s;
}
button:hover {
  color: white;
  background-color: #72a0c1;
}
@media (max-width: 425px) {
  .wrapper {
    margin-top: 500px;
  }
}
